{% extends 'layouts/default.html.twig' %}

{% block content %}
<div class="jumbotron">
    <h1>Hello</h1>
    <p>Greetings from Silex, Supermodel, and Ladder!</p>
    <button class="btn btn-primary" onclick="doSomethingDynamic()">Click Me!</button>
</div>
{% endblock %}

{% block scripts %}
<script src="/js/app.js"></script>
{% endblock %}
